# This file controls who owns which parts of the next26-agent-showcase repository

## Default owners for the entire repo

* @awaemmanuel
* @kazunori279
* @sita04
* @laxmi-genai
* @vineshpm

## Subproject owners

* /01-build/ @laxmi-genai
* /02-scale/ @awaemmanuel @kazunori279
* /03-govern/ @sital04 @vineshpm
* /vector-search-backend/ @kazunori279
